## Visual Studio dosyaları
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

## Build sonuçları
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio cache/options dizinleri
.vs/

## NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# Paketler klasörü
packages/
# NuGet v3's project.json dosyaları
project.json
project.lock.json
artifacts/

## Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

## Others
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

## Windows image file caches
Thumbs.db
ehthumbs.db

## Folder config file
Desktop.ini

## Recycle Bin used on file shares
$RECYCLE.BIN/

## Windows Installer files
*.cab
*.msi
*.msm
*.msp

## Windows shortcuts
*.lnk

## JetBrains Rider
.idea/
*.sln.iml 